page-messages {
  p.server-message {
    text-align: center;
    font-style: italic;
  }
  div.my-message {
    text-align: right;
  }

  ion-label > div > p {
    white-space: normal;
  }

  ion-footer > ion-toolbar {
    button {
      float: right;
    }
  }

  .users-typing {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: fixed;
    bottom: 84px;
    width: 100%;
    text-align: center;
    transform: translateX(-16px);
    background-color: white;
    margin:0;
    padding:10px 0;

    &.active {
      opacity: 1;

    }

  }
}
